<user-wrapper-without-loader>
  <user name={props.name}/>

  <script>
    import User from './user.riot'
    import lazy from '../../index.next.js'

    export default {
      components: {
        user: lazy(() => Promise.resolve(User))
      }
    }
  </script>
</user-wrapper-without-loader>
