<user-wrapper>
  <user name={state.name} />

  <script>
    import Loader from './loader.riot'
    import User from './user.riot'
    import lazy from '../../index.next.js'

    export default {
      components: {
        user: lazy(Loader, () => Promise.resolve(User))
      },
      state: {
        name: ''
      },
      onBeforeMount(props) {
        this.state.name = props.name
      }
    }
  </script>
</user-wrapper>
