<user-wrapper>
  <user name={props.name}/>

  <script>
    import Loader from './loader'
    import User from './user'
    import lazy from '../../index.next'

    export default {
      components: {
        user: lazy(Loader, () => Promise.resolve(User))
      }
    }
  </script>
</user-wrapper>